@import "tailwindcss";

/* CSS Custom Properties */
:root {
	--color-background: #000000;
	--color-foreground: #ffffff;
}

/* Base styles */

html,
body {
	height: 100%;
}

body {
	background-color: var(--color-background);
	color: var(--color-foreground);
}

main {
	@apply flex;
	height: 100vh;
	overflow: hidden;
}
